{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% macro breadCrumb(pageTitle, breadCrumbList = []) %}

  {% set rows = [{
      text: "Home",
      href: '/'
    }] %}

  {% if (breadCrumbList.length > 0) %}
    {% set rows = rows.concat(breadCrumbList) %}
  {% endif %}

  {% set rows = rows.concat([{
    text: pageTitle
  }]) %}

{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: rows,
  classes: "govuk-!-display-none-print hmpps-header__container"
}) }}

{% endmacro %}
