{% extends "govuk/template.njk" %}

{% from "dpr/components/card-group/view.njk" import dprCardGroup %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% if feComponents.jsIncludes %}
    {% for js in feComponents.jsIncludes %}
      <script src="{{ js }}" nonce="{{ cspNonce }}"></script>
    {% endfor %}
  {% endif %}
  {% if feComponents.cssIncludes %}
    {% for css in feComponents.cssIncludes %}
      <link href="{{ css }}" nonce="{{ cspNonce }}" rel="stylesheet" />
    {% endfor %}
  {% endif %}
{% endblock %}

{% set pageTitle = applicationName + " - " + (title | default('Reports')) %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% if feComponents.header %}
    {{ feComponents.header | safe }}
  {% else %}
    {% include "./header.njk" %}
  {% endif %}

  {% include "./subheader.njk" %}
{% endblock %}

{% block bodyStart %}
  
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/ext/day.js"></script>
  <script type="module" src="/assets/ext/dayjs/plugin/customParseFormat.js"></script>
  <script type="module" src="/assets/ext/chart.js"></script>
  <script type="module" src="/assets/ext/chartjs-datalabels.js"></script>
  <script type="module" src="/assets/govuk/all.js"></script>
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script type="module" src="/assets/mojFrontendInit.js"></script>
  <script type="module" src="/assets/dpr/js/all.mjs"></script>
  <script type="module" src="/assets/dprFrontendInit.js"></script>
{% endblock %}

{% block footer %}
  {% if feComponents.footer %}
    {{ feComponents.footer | safe }}
  {% else %}
    {% include "./footer.njk" %}
  {% endif %}
{% endblock %}
