{% extends "govuk/template.njk" %}

{% from "dpr/components/card-group/view.njk" import dprCardGroup %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{c | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the
  <body>, to avoid blocking the initial render. #}
  <script type="module" src="/assets/govuk/all.js"></script>
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script type="module" src="/assets/dpr/js/all.mjs"></script>
  <script type="module" src="/assets/dprFrontendInit.js"></script>
{% endblock %}
