{% extends "./partials/layout.njk" %}
{% from "dpr/components/async-polling/view.njk" import dprAsyncPolling %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <h1>{{ title }}</h1>
  {{ dprAsyncPolling(pollingRenderData) }}
{% endblock %}
