{% extends "./partials/layout.njk" %}
{% from "dpr/components/async-report-list/view.njk" import dprAsyncReportList %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}
  <div class="govuk-width-container">
    {{ dprAsyncReportList(renderData) }}
  </div>
{% endblock %}
