{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    Role Authorisation Error
  </h1>
  <p>Content of this page is unavailable as your account is missing the appropriate reporting user roles.</p>
  <p>Please contact your user roles administrator for help. </p>

  <h2 class="govuk-heading-m">
  Contact Details:
  </h2>

  <p>
    <strong>Service Now link:</strong>
    <a class="govuk-link" href="https://mojprod.service-now.com/moj_sp" target="_blank">Technology Portal Homepage - Technology Portal (service-now.com)</a>
  </p>
  <p>
    <strong>Helpdesk:</strong> 0800 917 5148
  </p>
  <p>
    <strong>DPR Mailbox:</strong>
    <a class="govuk-link" href="mailto:digitalprisonreporting@digital.justice.gov.uk">Digital Prison Reporting</a>
  </p>
{% endblock %}
