{% extends "./partials/layout.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">
    Role Authorisation Error
  </h1>
  <p>Content of this page is unavailable as your account is missing the appropriate reporting user roles.</p>
  <p>Please contact your user roles administrator for help. </p>
{% endblock %}
