$govuk-suppressed-warnings: 'ie8', 'govuk-typography-scale-14', 'legacy-organisation-colours';
$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk-frontend/dist/govuk';
@import '@ministryofjustice/frontend/moj/all';
@import '@ministryofjustice/hmpps-digital-prison-reporting-frontend/dpr/all';

@import './components/header-bar';
@import './local';

@media print {
  .print-hide {
    display: none;
  }
}
