.govuk-main-wrapper {
  min-height: 600px;
  padding-top: 0;
}

.dpr-heading-wrapper {
  background-color: rgba(86, 148, 202, .2);
  padding: govuk-spacing(8);
  p {
    font-weight: 700
  }
}

.dpr-reports-wrapper {
  padding: govuk-spacing(7);
}

.dpr-reports-widget-wrapper { 
  padding: govuk-spacing(7);
  background-color: rgba(243, 242, 241, 0.4);

  .govuk-tabs__panel {
    background-color: white;
  }
}
