.filter-summary-remove-button:after {
  background-image: url(#{$moj-images-path}icon-tag-remove-cross.svg);
  content: "";
  display: inline-block;
  font-weight: bold;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  width: 10px;
}

.filter-summary-show-filter-button {
  margin-right: 10px;
}