{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-m">{{ title }}</h1>

  <div class="govuk-width-container ">
    {{ appCardGroup(cards) }}
  </div>

{% endblock %}
