{% extends "../partials/layout.njk" %}
{% from "dpr/components/async-card-group/view.njk" import dprAsyncCardGroup %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>{{ title }}</h1>

  {{ dprAsyncCardGroup(requestedReports.cardData, requestedReports.tableData) }}

  <div class="govuk-width-container">
    {{ dprCardGroup(cards.items, cards.variant) }}
  </div>

{% endblock %}
