{% extends "../partials/layout.njk" %}
{% from "dpr/components/async-reports-list/view.njk" import dprAsyncReportsList %}
{% from "dpr/components/search/view.njk" import dprSearch %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>{{ title }}</h1>

  {{ dprAsyncReportsList(requestedReports, viewedReports) }}

  <h2>Reports</h2>

  <div class="govuk-width-container">
    {{ dprSearch(
      [
        { text: 'Product' },
        { text: 'Name' }
      ],
      reports
    ) }}
  </div>

{% endblock %}
