{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - " + title %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>{{ title }}</h1>

  <p class="govuk-heading-m">This service is currently unavailable</p>
  <p class="govuk-body">{{ description }}</p>
  <p class="govuk-body">Normal service will resume shortly</p>

{% endblock %}